---
---

@charset "utf-8";

// @import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
// @import url(https://fonts.googleapis.com/css?family=Lustria);

@import "bootswatch/yeti/variables";
@import "bootstrap";
@import "bootswatch/yeti/bootswatch";

.serif { font-family: $font-family-serif; }

// five (5) column support
.col-xs-20, .col-sm-20, .col-md-20, .col-lg-20 {
	position: relative;
	min-height: 1px;
	padding: 0 10px;
	width: 20%;
	float: left;
}
@media (max-width: 767px) { .col-sm-20 { width: 100%; } }
@media (max-width: 991px) { .col-md-20 { width: 100%; } }
@media (max-width: 1199px) { .col-lg-20 { width: 100%; } }

#jumbo-main {

	color: #fff;
	text-shadow: 2px 2px #000;

	margin: -27px auto 40px;

	background-repeat: no-repeat;
	background-position: center center;
	// background-attachment: fixed;
	background-size: cover;


	// @media (max-width: 992px) {
		// background-attachment: initial;
		// background-size: cover;
	// }

	background-image: url('http://cache4.asset-cache.net/xc/503914063.jpg?v=2&c=IWSAsset&k=2&d=1sd4B7vw-P7ngDTtMrnuE_pL9vJUs-bS_omoMI9Cc36w_6HepavxEDCh_70jv6uE0');
}

.modal-service-price {
	background: $brand-success;
	color: #fff;
	text-align: center;
	padding: 10px;
	margin-left: -20px;
	margin-right: -20px;
	margin: -20px -20px 20px;
}
