<div class="panel panel-success lead">
	<div class="panel-body text-center">
		<p>
			Why pay hundreds to replace your foggy headlights? We can restore them for only <strong>$75!</strong>
		</p>

		<p>
			Want an even better deal? With any <a href="{{ '/services/' | prepend: site.baseurl }}" class="btn btn-success btn-sm">Detail Package</a> you pay only <strong>$50!!</strong>
		</p>

		<p>
			Call to schedule an appointment.
		</p>
		<p>
			<a href="tel:8137783544" class="btn btn-success btn-md btn-block">
				<i class="fa fa-fw fa-phone"></i> 813-778-3544
			</a>
		</p>
	</div>
</div>
