---
layout: page
title: Blog
---

{% for post in site.categories.blog %}
<div class="panel panel-default panel-bordered wow fadeInUp">

	<header class="panel-heading">
		<div class="row">
			<div class="col-xs-8">
				<h3 class="panel-title">
					<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</h3>
			</div>
			<div class="col-xs-4 text-right small">
				<em>{{ post.date | date: "%b %-d, %Y" }}</em>
			</div>
		</div>
	</header>

	<div class="panel-body">
		<div class="media">
			<div class="media-left">
				{% if post.image %}
				<a href="{{ post.url | prepend: site.baseurl }}">
					<img class="img-portfolio-thumb" src="/images/{{ post.image }}" alt="{{post.title}} screenshot">
				</a>
				{% endif %}
			</div>
			<div class="media-body">
				{{ post.excerpt }}
			</div>
		</div>
	</div>

</div>
{% endfor %}
