<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	{% include nav.html %}

	<div class="jumbotron" id="jumbo-main">
		<div class="container">
			<h1 class="text-center">
				Make Your Voice Heard.
			</h1>
			<p class="text-center">
				<a href="#" class="btn btn-outlined btn-info btn-lg">Get Involved</a>
			</p>
		</div>
	</div>

	<div class="container" style="margin-top: 50px;">

		<div class="row">
			<div class="col-sm-8">
				{{ content }}
			</div>
			<div class="col-sm-4">
				{% include sidebar.html %}
			</div>
		</div>

	</div>

	{% include footer.html %}

</body>
</html>
