<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title text-center" id="defaultModalLabel">
		{{ page.title }}
	</h4>
</div>

<h1 class="modal-service-price">
	<small><em>Starting At</em></small><br>
	${{ page.price }}
</h1>

<form>
	<div class="modal-body">


		{{ content }}

		<ul>
			{% for item in page.items %}
			<li>
				{{item.name}}
			</li>
			{% endfor %}
		</ul>

		<p class="text-center">
			<a href="tel:8137783544" class="btn btn-primary btn-lg">
				<i class="fa fa-fw fa-phone"></i> 813-778-3544
			</a>
		</p>

		<div class="form-group">
			<label for="email">Email address</label>
			<input type="email" class="form-control" id="email" placeholder="Email" required>
		</div>
		<div class="form-group">
			<label for="phone">Phone number</label>
			<input type="tel" class="form-control" id="phone" placeholder="Telephone">
		</div>
		<div class="form-group">
			<label for="service">Service</label>
			<select name="service" class="form-control">
				{% for service in site.categories.services reversed %}
				<option value="{{ service.title }}" {% if page.title == service.title %}selected{%endif%}>{{ service.title }}</option>
				{% endfor %}
			</select>
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-sm btn-primary">Reserve</button>
	</div>
</form>



<!-- {% if post.badge_icon %}{{ post.badge_icon }}{% else %}calendar{% endif %} -->
